body
{
	background-color:lemonchiffon;
}

/* h1 is used for homepage on the top lefg */
h1{
  display: inline-block;
	text-align:left;
	font-size:15.5px;
	font-family:cursive;

}

h2{
	text-align:left;
	font-size:220%;
	color:Blue;
  padding-bottom: 1px;
}

h3{
	/*display: inline-block;*/
	/*margin-bottom: 3%;*/
}

p{
	font-size: 130%;
	font-family: "Comic Sans MS", cursive, sans-serif;
  margin-top: 1px;
}

.headline{
	width: 98%;
	height: auto;
	background-color: white;
}
